:root{
    --paragraph-color:#444444;
    --icon-color:#ffc451;
    --text-color:#fff;
}
.header_container{
    width: 100%;
    height: 180vh;
    background: url(../../Assets/images/img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.header_bg{
    width: 100%;
    height: 180vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
    color: var(--text-color);
}
.header_contain span{
    color: var(--icon-color);
}
.header_contain h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    padding: 40px 0 0 0;
    width: 90%;
}
.header_contain h2{
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 20px;
    width:"40%";
    text-align: center;
    margin:"auto";
}

.head_item{
    width: 100%;
    margin: 20px auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.head_item:hover{
    border:1px solid var(--icon-color);
    transition: ease-in-out 0.3s;;
}
.head_item p:hover{
    color: var(--icon-color);
    transition: ease-in-out 0.3s;;
    
 }

@media only screen and (min-width:768px) {
    .head{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
    }
    .head_item{
        width: 40%;
    }
    .header_bg{
        width: 100%;
        height: 110vh;
    }
    .header_container{
        width: 100%;
        height: 110vh;
    }
}
@media only screen and (min-width:1024px) {
    .head_item{
        width: 15%;
    }
    .header_contain h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 64px;
        padding: 200px 0 0 0;
        width: 40%;
    }
    .header_contain h2{
        font-size: 24px;
    }
    .header_bg{
        width: 100%;
        height: 100vh;
    }
    .header_container{
        width: 100%;
        height: 100vh;
    }
}